$color1: #f2f2f2;
$color2: #919191;
$color3: #eea668;
$color4: #f1efff;
$color5: #000aff;
$notHorribleRed: rgb(172, 27, 27);

@import 'BootstrapFBW36';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');

.main {
  height: 100%;
  .homepage {
    section {
      background-image: url('../statics/recordshop.jpeg');
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      transform: filter;
      filter: brightness(0.9);
      height: 100vh;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-evenly;
      align-items: flex-end;
      align-content: center;
      .gabriel {
        background: white;
        font-weight: 700;
        padding: 5px 10px;
        font-size: x-small;
        border-radius: 40px;
        margin-bottom: 20px;
      }
      .left,
      .right {
        flex-basis: 50%;
        padding: 20px;
        h1 {
          font-size: 40px;
        }
        p {
          font-size: 22px;
        }
        img {
          width: 100%;
        }
      }
    }
  }

  .login {
    height: 100%;
    section {
      height: 100%;
      padding: 120px 20px 80px 20px;
      display: flex;
      flex-direction: row;
      .left,
      .right {
        flex-basis: 50%;
        padding: 20px 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1 {
          font-size: xx-large;
          margin: 0;
        }

        img {
          width: 100%;
        }
      }
    }
  }

  .profile {
    height: 100%;
    section {
      height: 100%;
      display: flex;
      flex-direction: row;
      .left,
      .right {
        flex-basis: 50%;
        padding: 20px 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1 {
          font-size: xx-large;
          margin: 0;
        }

        img {
          width: 100%;
        }
      }
      .right {
        background-color: $color4;
        .avatar-panel {
          margin-top: 40px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          .main {
            margin-right: 40px;
            img {
              width: 220px;
              border: 2px solid $color3;
              border-radius: 50%;
            }
          }
          .grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-row-gap: 15px;
            grid-column-gap: 20px;
            grid-auto-flow: row;
            img {
              border-radius: 50%;
              border: 2px solid $color3;
              width: 60px;
              cursor: pointer;
            }
            .selected {
              border: 0;
              box-shadow: 0 0 0 5px $color5;
            }
          }
        }
      }
    }
  }

  .dashboard {
    background: white;
    color: black;
    height: 100%;
    section {
      height: 100%;
      padding: 120px 20px 80px 20px;
      display: flex;
      flex-direction: column;
      h3 {
        margin-bottom: 0;
      }
      .records-container {
        margin-top: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-row-gap: 40px;
        grid-column-gap: 40px;
        grid-auto-flow: row;
        .record {
          box-shadow: 0px 0px 10px #00000041;
          position: relative;
          img {
            width: 100%;
            height: 100%;
          }
          .add-to-cart {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 40px;
            height: 40px;
            background: black;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 25px;
            cursor: pointer;

            transition: all 0.2s;
            svg path {
              color: white;
            }
            &:hover {
              background: white;
              svg path {
                color: black;
              }
            }
          }
        }
      }
    }
  }
  .cart {
    background: white;
    color: black;
    height: 100%;
    section {
      height: 100%;
      padding: 120px 20px 80px 20px;
      display: flex;
      flex-direction: column;
      .current-order {
        display: flex;
        .left {
          width: 50%;
          .record {
            display: flex;
            align-items: flex-start;
            background: black;
            margin-bottom: 10px;
            padding: 10px;
            .img {
              img {
                height: 130px;
                margin-right: 10px;
              }
            }
            .info {
              p {
                color: white;
                margin: 0;
              }
              .artist {
                margin-top: 5px;
                font-weight: 800;
                margin-bottom: 15px;
              }
            }
          }
        }
        .right {
          width: 50%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          text-align: center;
          background: black;
          margin-bottom: 10px;
          margin-left: 10px;
          padding: 20px;
          img {
            width: 200px;
          }
          .total {
            p {
              color: white;
              margin: 0;
            }
            .header {
              margin-top: 20px;
              font-size: 15px;
            }
            .amount {
              font-size: 30px;
              font-weight: 800;
            }
          }
        }
      }
      .order-history {
        margin-top: 120px;

        .order {
          margin-bottom: 80px;
          .general-info {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            border-bottom: 5px solid black;
            p {
              font-weight: 600;
              font-size: 16px;
              margin: 0;
            }
          }
          .albums {
            .record {
              display: flex;
              margin-bottom: 10px;
              background: $color5;
              height: 200px;

              .cover {
                img {
                  height: 100%;

                  margin-right: 10px;
                }
              }
              .info {
                flex-grow: 15;
                p {
                  color: white;
                  &:nth-child(2) {
                    font-weight: 800;
                  }
                }
              }
              .price {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                padding: 10px;
                align-items: flex-end;
                p {
                  margin: 0;
                  color: white;
                  &:first-child {
                    margin-bottom: 5px;
                    font-weight: 700;
                    font-size: 10px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
